 
{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
 <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ user.Perfil.nickname }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

{# read and display all flash messages #}
       {% for label, messages in app.flashes %}
            {% for message in messages %}
            
                <div class="alert alert-{{ label }} alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <!-- <h5><i class="icon fas fa-check"></i> Alert!</h5> -->
                          {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
          <div class="col-md-3">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                 <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{ user.perfil.gerencia.imagen }}"
                       alt="{{ user.perfil.gerencia.nombre }}">
                       
                </div> 

                <h3 class="profile-username text-center">{{ user.nombre }} {{ user.apellido }}</h3>

                <p class="text-muted text-center">
                 
                </p>
                <p class="text-muted text-center">
                  {% for rol in user.roles %}
                    {{ rol }}
                  {% endfor %}
                </p>                          

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          {{ include('profile/_tarjetas.html.twig') }}
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">                 
                  <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab"><i class="fas fa-history"></i>Actividad</a></li>
                  <li class="nav-item"><a class="nav-link" href="#dashboard" data-toggle="tab"><i class="fas fa-key"></i>Clave</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  
                  <!-- /.tab-pane -->
                  <div class="tab-pane active" id="timeline">
                    {{ include('profile/_timeline.html.twig') }}
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="dashboard">
                      {{ include('profile/_cambiar_pass.html.twig') }}                 

                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->



      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
     <div class="modal fade" id="modal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            {#<div class="modal-header">
              <h4 class="modal-title">Grupo Xl</h4>              
            </div>#}
           
            <div class="modal-body">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                <img class="img-responsive" src="/img/imagen1.jpg">
              
            </div>
            {#<div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>#}
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}

{% block stylesheets %}

 {% endblock %}   

{% block javascripts %}

<script type="text/javascript">
    /*$('#modal-xl').on('show.bs.modal', function (e) {
      alert('');
    })*/
    $('#modal').modal('show');
</script>
{% endblock %}   




