{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Pais{% endblock %}

{% block body %}
    <h1>Pais</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pai.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ pai.nombre }}</td>
            </tr>
            <tr>
                <th>Poblacion</th>
                <td>{{ pai.poblacion }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ pai.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ pai.updatedBy }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ pai.createdAt ? pai.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ pai.updatedAt ? pai.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pais_index') }}">

        <i class="fas fa-arrow-left"></i>
        volver

    </a>

    <a href="{{ path('pais_edit', {'id': pai.id}) }}">
        
         <i class="fas fa-edit"></i>
        edit

    </a>

    {{ include('pais/_delete_form.html.twig') }}
{% endblock %}
