{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Carrera{% endblock %}

{% block body %}
    <h1>Carrera {{ carrera.numeroCarrera }}</h1>
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}    
        <div class="alert alert-{{ label }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <!-- <h5><i class="icon fas fa-check"></i> Alert!</h5> -->
                  {{ message }}
        </div>
    {% endfor %}
{% endfor %}
       <div class="card-body table-responsive p-0">      
     <table  class="table table-bordered table-hover text-nowrap">
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{{ carrera.fecha ? carrera.fecha|date('d-m-Y') : '' }}</td>
                <th>Hipodromo</th>
                <td>{{ carrera.Hipodromo.nombre }}</td>                
                <th>Status</th>
                <td>{{ carrera.status }}</td>
            </tr>           
        </tbody>
    </table>
    </div>

<h1>Propuestas</h1>
    <div class="row">
    {% for propuesta in carrera.ApuestaPropuestas %}
          {% if propuesta.monto > 0 %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-text-width"></i>
                  Disponible: {{ propuesta.monto }} Jugador: {{ propuesta.Jugador.nickname }} 
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <dl>                
                  <dt>Tipo de Apuesta</dt>
                  <dd>{{ propuesta.Tipo.nombre }}</dd>
                  <dt>Caballos</dt>
                  <dd>{{ propuesta.caballos|json_encode }}</dd>
                  {% if propuesta.Jugador != app.user.Perfil %}
                  <dd>
                      <form id="form_apuesta" method="POST" action="{{ path('carrera_abierta_cargar', {'id': propuesta.id}) }}"> 
                          <div class="form-group">
                            <label>Monto:</label>
                            <div class="input-group input-group-sm">
                            <input type="number" id="apuesta_monto" name="apuesta_monto" class="form-control apuesta_monto">
                              <span class="input-group-append">
                                <button type="submit" required class="btn btn-info btn-flat apuesta_boton" id="apuesta_boton">Jugar</button>
                              </span>
                            </div>
                          </div>
                      </form> 
                  </dd>
                  {% endif %}                  
                </dl>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->            
        </div>
        {% endif %}
      <!-- ./col -->    
       {% endfor %}  
    </div>        
    <a href="{{ path('carrera_abierta_index') }}">
        <i class="fas fa-arrow-left"></i>
        volver
    </a>
      <a href="{{ path('carrera_abierta_new', {'id': carrera.id}) }}">
        <i class="fas fa-plus"></i>
        Nueva propuesta
    </a>
{% endblock %}

{% block javascripts %}

<script>
    /*$('#form_apuesta').on('click', 'button', function(){
            
           alert($(this).prev('#apuesta_monto').val());     
    });*/



        /*$('#form_apuesta').on('click','.apuesta_boton',function(){
          //let val = $(this).val();
              alert($(this).attr('class'));
              alert($(this).closest('input').attr('class'));
         });*/


</script>    
  

 {% endblock %}
