{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Reportes Index{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="/bundles/fgimenezadminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="/bundles/fgimenezadminlte/plugins/daterangepicker/daterangepicker.css">
{% endblock %}


{% block body %}
    <h1>Reporte</h1>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
    
        <div class="alert alert-{{ label }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <!-- <h5><i class="icon fas fa-check"></i> Alert!</h5> -->
                  {{ message }}
        </div>
    {% endfor %}
{% endfor %}
      <div class="row">
        <div class="col-md-6">              
              <!-- Date range -->
                <div class="form-group">
                  <label>Date range:</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control float-right" id="reservation">
                  </div>
                  <!-- /.input group -->
                </div>
        </div>      <!-- /.form group -->
      </div>

      <div class="card">
            <div class="card-header">
              <h3 class="card-title"></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                 <thead>
                    <tr>              
                        <th>Reporte</th>
                        <th>Rango</th>                            
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                   
                        <tr>               
                            <td>Correcciones en apuestas</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>
                         <tr>               
                            <td>Totales en Carreras</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_carreras"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                        <tr>               
                            <td>Gastos</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_deposito"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                        <tr>               
                            <td>Pago Clientes</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_deposito2"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                        <tr>               
                            <td>Pago Administrativo</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_deposito_saldo"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                        <tr>               
                            <td>Retiro de saldo</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_retiro_saldo"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                        <tr>               
                            <td>Abono de saldo</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_abono_saldo"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                        <tr>               
                            <td>Traspaso</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_traspaso"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>


                        <tr>               
                            <td>Apuestas</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_apuesta"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                         <tr>               
                            <td>Total Clientes</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_total_cliente"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>

                        <tr>               
                            <td>Total Saldo Clientes</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_total_saldo_cliente"><i class="far fa-eye">descargar</i></a>
                                <a href="#" id="link_total_saldo_cliente_v" target="_blank"><i class="far fa-eye">Ver</i></a>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" onclick="$('#hidModal').val($('#link_total_saldo_cliente_v').attr('href'))">Modal</button>
                            </td>
                        </tr>

                        <tr>               
                            <td>Total Semana Detalle Saldo Clientes</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_total_semana_saldo"><i class="far fa-file">descargar</i></a>
                                <a href="#" id="link_total_semana_saldo_v" target="_blank"><i class="far fa-eye">Ver</i></a>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" onclick="$('#hidModal').val($('#link_total_semana_saldo_v').attr('href'))">Modal</button>
                            </td>
                        </tr>

                       <tr>               
                            <td>Usuarios</td>
                            <td><div id="rango"></div></td>      
                            <td>
                                <a href="#" id="link_usuarios"><i class="far fa-eye">descargar</i></a>
                            </td>
                        </tr>
                
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Reporte</th>
                             <th>Rango</th>                          
                            <th>actions</th>
                        </tr>
                    </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->    
    </div>
 </div>
<input type="hidden" id="hidModal">

 <div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
   
    
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-xl" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- Content will be loaded here from "remote.php" file -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">OK, Got it!</button> -->
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}




{% block javascripts %}

<!-- InputMask -->
<script src="/bundles/fgimenezadminlte/plugins/moment/moment.min.js"></script>
<script src="/bundles/fgimenezadminlte/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- date-range-picker -->
<script src="/bundles/fgimenezadminlte/plugins/daterangepicker/daterangepicker.js"></script>

<!-- DataTables -->
<script src="/bundles/fgimenezadminlte/plugins/datatables/jquery.dataTables.js"></script>

<script>
  $(function () {

    //$("#example1").DataTable();

    $('#example1').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false,
    });

      //Date range picker
    $('#reservation').daterangepicker({      
      locale: {
        format: 'YYYY-MM-DD',
        separator: ' / '
      }
    });

  });


$("#reservation").change(function() {

  $('#rango').html($(this).val()); 

  var fecha = $(this).val().split(' / ');

  $("#link").attr('href', '{{ path('reporte_correccion') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]);
  $("#link_carreras").attr('href', '{{ path('reporte_carreras') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]); 
  $("#link_deposito").attr('href', '{{ path('reporte_deposito') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]);

  $("#link_deposito2").attr('href', '{{ path('reporte_deposito') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]+'&pago_cliente=1');

  $("#link_deposito_saldo").attr('href', '{{ path('reporte_deposito_saldo') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]); 
  $("#link_retiro_saldo").attr('href', '{{ path('reporte_retiro_saldo') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]); 
  $("#link_abono_saldo").attr('href', '{{ path('reporte_abono_saldo') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]); 
  $("#link_traspaso").attr('href', '{{ path('reporte_traspaso') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]); 
  $("#link_apuesta").attr('href', '{{ path('reporte_apuesta') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]); 
  $("#link_usuarios").attr('href', '{{ path('reporte_usuarios') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]);
  $("#link_total_saldo_cliente").attr('href', '{{ path('gerencia_reporte_usuarios_saldo') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]);  
  $("#link_total_semana_saldo").attr('href', '{{ path('gerencia_reporte_semana_saldo') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]);

  $("#link_total_saldo_cliente_v").attr('href', $("#link_total_saldo_cliente").attr('href')+'&vista=1');
  $("#link_total_semana_saldo_v").attr('href', $("#link_total_semana_saldo").attr('href')+'&vista=1');

  $("#link_total_cliente").attr('href', '{{ path('reporte_total_cliente') }}'+'?fecha1='+fecha[0]+'&fecha2='+fecha[1]);   

}); 

  $("#myModal").on("show.bs.modal", function(event){
  
      $(this).find(".modal-body").html('');
        // Place the returned HTML into the selected element
        $(this).find(".modal-body").load($("#hidModal").val());
    });
</script>

{% endblock %}
