{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Carrera index{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="/bundles/fgimenezadminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
{% endblock %}


{% block body %}
    <h1>Carreras</h1>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
    
        <div class="alert alert-{{ label }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <!-- <h5><i class="icon fas fa-check"></i> Alert!</h5> -->
                  {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<!-- SEARCH FORM -->
<!-- example filter code, you must uncomment and modify-->
   {#{ form_start(form, { attr: {novalidate: 'novalidate'}, 'method': 'GET' }) }}

        <div class="form-group">
                  {{ form_label(form.email,'Correo:') }}
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-at"></i></span>
                    </div>
                    {{ form_widget(form.email, {'attr': {'value': carrera.email}}) }}

                    <small>{{ form_help(form.email) }}</small>
                  </div>
                  <!-- /.input group -->
                  <div class="form-error">
                  {{ form_errors(form.email) }}
               </div>
        </div>

    

        <button type="button" class="btn btn-primary" 
         onclick="buscar(this.form)">
             <i class="fas fa-search"></i>{{ button_label|default('Search') }}
        </button>

         <button type="button" class="btn btn-primary" 
         onclick="descargaPDF(this.form)">
             <i class="far fa-file-pdf"></i>{{ button_label|default('PDF') }}
        </button>

        <a href="{{ path('carrera_index') }}">Limpiar</a>

        {{ form_widget(form._token) }} 
    {{ form_end(form, {'render_rest': false}) }#} 
 <!-- //SEARCH FORM -->



           <div class="card-header">
              <h3 class="card-title"></h3>
            </div>
            <!-- /.card-header -->

   <div class="card-body table-responsive p-0">       
     <table id="example2" class="table table-bordered table-hover text-nowrap">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>carrera</th>
                <th>hipodromo</th>                 
                <th>orden oficial</th>                
                <th>status</th>                
                 <th>actions</th>              
            </tr>
        </thead>
        <tbody>
        {% for carrera in carreras %}
            <tr>               
                <td>{{ carrera.fecha ? carrera.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ carrera.numeroCarrera }}</td>  
                <td>{{ carrera.Hipodromo.nombre }}</td>                             
                <td>

                  {{ carrera.ordenOficial ? render(controller('App\\Controller\\CarreraController::numero_color', {array: carrera.ordenOficial }))  : '' }}

             
                  {#{ render(controller('App\\Service\\Util::numeroColor', {array: carrera.ordenOficial })) }#}

                </td>             
                <td>
                  {% if (carrera.status=='PAGADO') %}
                      <i class="fas fa-check-square"></i> {{ carrera.status }}
                  {% else %}
                    {{ carrera.status }}
                  {% endif %}    
                </td>            
                            
                <td>
                    <a href="{{ path('carrera_show', {'id': carrera.id}) }}"><i class="far fa-eye">mostrar</i></a>            

                    {% if (carrera.status=='PENDIENTE') %}
                        <a href="{{ path('carrera_edit', {'id': carrera.id}) }}"><i class="fas fa-edit">edit</i></a>
                        {{ include('carrera/_delete_form.html.twig') }}

                       <a href="{{ path('carrera_abrir', {'id': carrera.id}) }}"><i class="fas fa-edit">abrir</i></a>
                    {% endif %}

                    {% if (carrera.status=='ABIERTO') %}
                          
                          <a href="{{ path('apuesta_new', {'id': carrera.id}) }}"><i class="fas fa-edit">apuestas</i></a>

                          <a href="{{ path('carrera_cerrar', {'id': carrera.id}) }}"><i class="fas fa-edit">cerrar</i></a> 
                          {% if carrera.Apuestas is empty %}
                            {{ include('carrera/_delete_form.html.twig') }}
                          {% endif %}
                    {% endif %}

                    {% if (carrera.status == 'CERRADO') %}
                          <a href="{{ path('carrera_finalizar', {'id': carrera.id}) }}"><i class="fas fa-edit">orden oficial</i></a>

                           <a href="{{ path('apuesta_new', {'id': carrera.id}) }}"><i class="fas fa-edit">apuestas</i></a>
                    {% endif %}

                    {% if (carrera.status == 'ORDEN') %}
                          <a href="{{ path('carrera_finalizar', {'id': carrera.id}) }}"><i class="fas fa-edit">editar orden</i></a> 

                           <a href="{{ path('apuesta_new', {'id': carrera.id}) }}"><i class="fas fa-edit">apuestas</i></a>

                          <a href="{{ path('carrera_pagar', {'id': carrera.id}) }}"><i class="fas fa-edit">correr lista</i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>                
                <th>Fecha</th>
                <th>Numero_carrera</th>
                <th>Hipodromo</th> 
                <th>orden oficial</th> 
                <th>Status</th>              
                <th>actions</th>
            </tr>
        </tfoot>
    </table>

   <div class="navigation float-right">
            {{ knp_pagination_render(carreras) }}
        </div>
    <a href="{{ path('carrera_new') }}">
        <i class="fas fa-plus"></i>Nuevo
    </a>
    
    </div>
 </div>
{% endblock %}

{% block javascripts %}

<!-- DataTables -->
<script src="/bundles/fgimenezadminlte/plugins/datatables/jquery.dataTables.js"></script>

<script>


function buscar(form){
    $(form).attr('target', ' ');
    $(form).attr('action', "{{ path('carrera_index') }}");   
    $(form).submit();
} 

  $(function () {

    $('#example2').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "order" : [[0,"desc"]],
      "info": false,
      "autoWidth": false,
    });
  });
</script>

{% endblock %}




