{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Carrera{% endblock %}

{% block body %}
    <h1>Carrera</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrera.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ carrera.fecha ? carrera.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cantidad_caballos</th>
                <td>{{ carrera.cantidadCaballos }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ carrera.status }}</td>
            </tr>
            <tr>
                <th>Numero_carrera</th>
                <td>{{ carrera.numeroCarrera }}</td>
            </tr>
            <tr>
                <th>Orden_oficial</th>
                <td>{{ carrera.ordenOficial ? carrera.ordenOficial|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ carrera.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ carrera.updatedBy }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ carrera.createdAt ? carrera.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ carrera.updatedAt ? carrera.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carrera_index') }}">

        <i class="fas fa-arrow-left"></i>
        back to list

    </a>

    <a href="{{ path('carrera_edit', {'id': carrera.id}) }}">
        
         <i class="fas fa-edit"></i>
        edit

    </a>

    {{ include('carrera/_delete_form.html.twig') }}
{% endblock %}
