{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Carrera{% endblock %}

{% block body %}
    <h1>Carrera {{ carrera.numeroCarrera }}</h1>
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
    
        <div class="alert alert-{{ label }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <!-- <h5><i class="icon fas fa-check"></i> Alert!</h5> -->
                  {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    <table class="table">
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{{ carrera.fecha ? carrera.fecha|date('d-m-Y') : '' }}</td>
                <th>Hipodromo</th>
                <td>{{ carrera.Hipodromo.nombre }}</td>                
                <th>Status</th>
                <td>{{ carrera.status }}</td>
            </tr>
            <tr>                
                <th>Total Pagado</th>
                <td>{{ carrera.totalPagado }}</td>
                <th>Total Ganancia</th>
                <td>{{ carrera.totalGanancia }}</td>
                <th>Orden_oficial</th>
                <td>{{ carrera.ordenOficial ? carrera.ordenOficial|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Creado por</th>
                <td>{{ carrera.createdBy }} {{ carrera.createdAt ? carrera.createdAt|date('Y-m-d H:i:s') : '' }}</td>          
                <th>Cerrado por</th>
                <td>{{ carrera.cerradoBy }}</td>
                <th>Pagado por</th>
                <td>{{ carrera.pagadoBy }}</td>
            </tr>
      
          
        </tbody>
    </table>


<h1>Apuestas Realizadas</h1>

    <div class="row">
    {% for apuesta in carrera.Apuestas %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-text-width"></i>
                  Ganador: {{ apuesta.Ganador.nickname|default('-') }} [{{ apuesta.Cuenta.SaldoGanador|default('-') }}] 
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <dl>
                  <dd><a href="{{ path('correccion_new', {'id': apuesta.id}) }}"><i class="fas fa-edit">corregir</i></a></dd>
                  <dt>Monto</dt>
                  <dd>{{ apuesta.monto }}</dd>
                  <dt>Tipo de Apuesta</dt>
                  <dd>{{ apuesta.Tipo.nombre }}</dd>
                  <dd>
                        <div class="card card-primary collapsed-card">
                          <div class="card-header">
                            <h3 class="card-title">Detalles</h3>

                            <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                              </button>
                            </div>
                            <!-- /.card-tools -->
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table class="table"  class="table table-bordered table-striped">
                                    <tbody>
                                       <tr>
                                        <th>Cliente</th>
                                        <th>Caballos</th>
                                       </tr> 
                                    {% for detalle in apuesta.ApuestaDetalles %}    
                                        <tr>
                                            <td>{{ detalle.Perfil.nickname }}</td>
                                            <td>{{ detalle.caballos ? detalle.caballos|json_encode : '' }}</td>
                                        </tr>   
                                    {% endfor %}
                                    </tbody>
                                </table>  

                              <table class="table"  class="table table-bordered table-striped">
                                  {% for correccion in apuesta.Correccions %} 
                                      <tr><td>{{ correccion.observacion }}</td></tr>
                                      <tr><td>{{ correccion.observacionSistema }}</td></tr>
                                      <tr><td>{{ correccion.createdBy }}</td></tr>
                                  {% endfor %}  
                               </table        
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                  </dd>                  
                </dl>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->            
        </div>
      <!-- ./col -->    
       {% endfor %}  
    </div>        
    <a href="{{ path('carrera_index') }}">
        <i class="fas fa-arrow-left"></i>
        volver
    </a>



{% endblock %}
