{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}AdjuntoPago index{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="/bundles/fgimenezadminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
{% endblock %}


{% block body %}
    <h1>AdjuntoPago </h1>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
    
        <div class="alert alert-{{ label }} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <!-- <h5><i class="icon fas fa-check"></i> Alert!</h5> -->
                  {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<!-- SEARCH FORM -->
<!-- example filter code, you must uncomment and modify-->
   {#{ form_start(form, { attr: {novalidate: 'novalidate'}, 'method': 'GET' }) }}

        <div class="form-group">
                  {{ form_label(form.email,'Correo:') }}

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-at"></i></span>
                    </div>
                    {{ form_widget(form.email, {'attr': {'value': adjunto_pago.email}}) }}


                    <small>{{ form_help(form.email) }}</small>
                  </div>
                  <!-- /.input group -->
                  <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
        </div>

    

        <button type="button" class="btn btn-primary" 
         onclick="buscar(this.form)">
             <i class="fas fa-search"></i>{{ button_label|default('Search') }}
        </button>

         <button type="button" class="btn btn-primary" 
         onclick="descargaPDF(this.form)">
             <i class="far fa-file-pdf"></i>{{ button_label|default('PDF') }}
        </button>

        <a href="{{ path('adjunto_pago_index') }}">Limpiar</a>

        {{ form_widget(form._token) }} 
    {{ form_end(form, {'render_rest': false}) }#} 
 <!-- //SEARCH FORM -->



           <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
     <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>  
                <th>User</th>
                <th>Monto</th>
                <th>Validado</th>
                <th>Validado por</th>
                <th>Numero_referencia</th>             
                <th>Fecha de Carga</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adjunto_pago in adjunto_pagos %}
            <tr>
                <td>{{ adjunto_pago.Perfil.Usuario.username }}</td>
                <td>{{ adjunto_pago.monto }}</td>
                <td>
                    {% if adjunto_pago.validado=='1' %}
                        aprobado
                  

                    {% elseif adjunto_pago.validado=='0' %}
                        rechazado
                

                    {% elseif adjunto_pago.validado==null %}
                        en proceso
                    {% endif %}


                </td>
                <td>{{ adjunto_pago.validadoBy ? adjunto_pago.validadoBy : 'en proceso' }}</td>
                <td>{{ adjunto_pago.numeroReferencia }}</td>
              
                <td>{{ adjunto_pago.createdAt ? adjunto_pago.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('adjunto_pago_show', {'id': adjunto_pago.id}) }}"><i class="far fa-eye">mostrar</i></a>
                    
                    {% if (is_granted('ROLE_COORDINADOR') and (adjunto_pago.validado is same as null) )  %}
                    <a href="{{ path('adjunto_pago_edit', {'id': adjunto_pago.id}) }}"><i class="fas fa-edit">edit</i></a>
                    {% endif %} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>User</th>
                <th>Monto</th>
                <th>Validado</th>
                <th>Validado por</th>
                <th>Numero_referencia</th>                
                <th>Fecha de Carga</th>
                <th>actions</th>
            </tr>
        </tfoot>
    </table>

   <div class="navigation float-right">
            {{ knp_pagination_render(adjunto_pagos) }}
        </div>
    {% if is_granted('ROLE_COORDINADOR') %}
        <a href="{{ path('adjunto_pago_new') }}">
            <i class="fas fa-plus"></i>Nuevo --
        </a>
    {% else %}
        <a href="{{ path('adjunto_pago_new') }}">
            <i class="fas fa-plus"></i>Nuevo -
        </a>
    {% endif %}    
        
    </div>
 </div>
{% endblock %}

{% block javascripts %}

<!-- DataTables -->
<script src="/bundles/fgimenezadminlte/plugins/datatables/jquery.dataTables.js"></script>

<script>

function descargaPDF(form){
    $(form).attr('target', '_blank');
    $(form).attr('action', "{{ path('adjunto_pago_pdf') }}");   
    $(form).submit();
}

function buscar(form){
    $(form).attr('target', ' ');
    $(form).attr('action', "{{ path('adjunto_pago_index') }}");   
    $(form).submit();
} 

  $(function () {

    $('#example2').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": false,
    });
  });
</script>

{% endblock %}




