{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Abono Saldo{% endblock %}

{% block body %}
    <h1>Abono Saldo</h1>

    <table class="table">
        <tbody>
             <tr>
                <th>Comprobante</th>
                <td><img src="{{ adjunto_pago.ruta }}" width="800"></td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ adjunto_pago.monto }}</td>
            </tr>
            <tr>
                <th>Validado por</th>
                <td>{{ adjunto_pago.validadoBy }}</td>
            </tr>
            <tr>
                <th>Numero  de referencia</th>
                <td>{{ adjunto_pago.numeroReferencia }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ adjunto_pago.observacion }}</td>
            </tr>
            <tr>
                <th>Creado por</th>
                <td>{{ adjunto_pago.createdBy }} {{ adjunto_pago.createdAt ? adjunto_pago.createdAt|date('Y-m-d H:i:s') : '' }} </td>
            </tr>
            <tr>
                <th>Actualizado por</th>
                <td>{{ adjunto_pago.updatedBy }} {{ adjunto_pago.updatedAt ? adjunto_pago.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
       
        </tbody>
    </table>

    <a href="{{ path('adjunto_pago_index') }}">

        <i class="fas fa-arrow-left"></i>
        volver

    </a>


    {#{ include('adjunto_pago/_delete_form.html.twig') }#}
{% endblock %}
