{% block title %}Rango desde {{ rango.desde|date('d-m-Y') }} hasta {{ rango.hasta|date('d-m-Y') }}{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="/bundles/fgimenezadminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
{% endblock %}


{% block body %}
    
           <div class="card-header">
              <h3 class="card-title"></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% set i = 0 %}
                {% for columna in columnas %}
                    {% set i = i+1 %}
                {% endfor %}  

     <table id="example2" class="table table-bordered table-hover" width="100%">
        <thead>
            
           <tr><td colspan="{{ i + 1 }}"><div align="center"><h1>{{ user.nickname }}</h1></div></td></tr>
            <tr style="background-color:#000; color:#fff ;">              
                <th>#carrera</th>

                {% for columna in columnas %}
                    <th>{{ columna.nombre }}</th>
                {% endfor %}       
             
            </tr>
        </thead>
        <tbody>
        {% set x = 0 %}
        {% for row in filas %}
        {% if x==0  %}
            {% set st = '' %}
            {% set x = 1 %}
        {% else %}
            {% set st = 'style="background-color:#e5e5e5"' %}
            {% set x = 0 %}
        {% endif %}
        
            <tr {{ st|raw }}>               
                <td><b>#{{ row.numero }}</b></td>       
               {% for carrera in row.carreras %}
                    <td align="center">
                       {% if carrera.total_carrera <0 %} 
                          <span style="color:red"> $ {{carrera.total_carrera }} </span>
                       {% else %}
                           $ {{carrera.total_carrera }}
                       {% endif %}
                    </td>
                {% endfor %}    
            </tr>
        {% else %}
            <tr>
                <td colspan="5" align="center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
             <tr>              
                <th>totales</th>
                {% set i = 0 %}
                {% set total_rango = 0 %}
                {% for columna in columnas %}
                    {% set total_rango = total_rango + columna.total_hipodromo %}
                    {% set i = i + 1 %}                    
                   

                     {% if columna.total_hipodromo < 0 %}                         
                           <th style="color:red">${{ columna.total_hipodromo }}</th>
                       {% else %}
                            <th>${{ columna.total_hipodromo }}</th>
                       {% endif %}
                {% endfor %}            
            </tr>

            <tr>              
                <th>total rango:</th>
               
                       {% if total_rango < 0 %} 
                            <th colspan="{{ i }}" style="color:red">$ {{ total_rango }}</th>
                       {% else %}
                             <th colspan="{{ i }}">$ {{ total_rango }}</th>
                       {% endif %}
             </tr> 

              <tr>              
                <th>total ultima semana:</th>
               
                       {% if total_semana < 0 %} 
                            <th colspan="{{ i }}" style="color:red">$ {{ total_semana }}</th>
                       {% else %}
                             <th colspan="{{ i }}">$ {{ total_semana }}</th>
                       {% endif %}
             </tr>


        </tfoot>
    </table>
    
    </div>

{% endblock %}








